.container_perfilUser {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_perfilUser {
  color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 60px 0;
}

.container-img-perfilUser-active-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-perfilUser button{
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}
.container-img-perfilUser-active-img button{
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}


.container-img-perfilUser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-img-perfilUser img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0.5;
}

.container-img-perfilUser-active-img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container-img-perfilUser {
  padding: 10px;
  position: relative;
}

.container-img-perfilUser-active-img{
  padding: 10px;
  position: relative;

}


input{
  display: none;
}

.img-photo{
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.seccion_info_perfilUser {
  width: 100%;
  display: grid;
  grid-template-columns: 284px 1fr;
  gap: 25px;
}


.list_describe_perfilUser {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;

}

.list_describe_perfilUser ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  list-style: none;
}

.btn-info-account{
  cursor: pointer;
}

.items_perfilUser {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.item {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
}

.item span{
    font-size: 18px;
    font-weight: 700;
}

.item_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn-config{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn_edit_perfil a{
    font-size: 16px;
    font-weight: 700;
    color: var(--blanco);
    text-decoration: none;
    padding: 3px 16px;
    border-radius: 7px;
    background-color: rgb(62, 65, 70);
    white-space: nowrap;
}

.btn_edit_perfil a:hover{
  background-color: rgb(49, 50, 54);
}

.num{
    color: var(--blanco);
    font-size: 17px;
    font-weight: bold;
}

.describe_item{
    font-size: 15px;
    color: rgb(174, 175, 176);
}

.describe_item span{
  cursor: pointer;
}

.describe_item span:hover{
  color: var(--blanco);
}