
.container-card{
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border: 1px solid white;
    padding: 15px;
    border-radius: 5px;
}

.info-user-card img{
    max-width: 50px;
    border-radius: 50%;
}

.info-user-card {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.btn-seguir{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--verde-claro);
    padding: 7px;
    border-top: 1px solid white;
    cursor: pointer;
}

.btn-seguir:hover{
    border-radius: 7px;
    background-color: var(--verde-oscuro);
}
