

:root{
    --azul-oscuro: #030d33;
    --blanco: #e5e5e5;
    --verde-claro: #3bff83;
    --morado: #5f00e5;
    --font-size-text: 20px;
    --font-size-title: 32px;
    --font-size-big: 39px;
  }