

.container-user-suggested{
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

}
.img-user-suggested{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-user-suggested img{
    width: 44px;
    border-radius: 50%;
}

.user-name-suggested{
    color: var(--blanco);
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
    margin-left: 15px;
}
.user-name-suggested img{
    width: 13px;
}

.username{
    font-weight: bold;
}

.suggested-text {
    font-size: 13px;
}

.btn-seguir{
    color: var(--verde-claro);
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.btn-seguir:hover{
    color: var(--blanco);
}